<div class="product-wrapper row">
    <div *ngFor="let prd of productList" class="product-item col-md-3 mb-3">
        <a href='#' (click)="prdDetailsFun(prd)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src={{prd.imageUrl}} alt="" />
        </a>
        <div class="product-desc">
            <p>{{prd.title}}</p>
            <span>${{prd.price}}</span>
        </div>
        <button (click)="addToCart(prd)">{{"add to cart" | translate}}</button>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{prdDetails.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="product-info">
                    <img [src]="prdDetails.imageUrl" alt={{prdDetails.title}} />
                    <p>{{prdDetails.title}}</p>
                    <p>{{prdDetails.desc}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"close"|translate}}</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>