.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#ddd;
    width:100%;
}
.nav select{
    margin: 0 10px;
    padding:5px 10px;
    text-align:center;
    height: 40px;
    border-radius:5px;
}
.nav ul{
    display:flex;
    list-style-type:none;
    padding:10px 35px;
}
.nav ul li a{
    display:block;
    background-color:gray;
    margin:5px;
    padding:5px 10px;
    text-align:center;
    border-radius:4px; 
    color:#fff;
    text-decoration:none
}
.nav ul li a.active{
    background-color:#2a5ea5;
}
.nav ul li select {
    margin-left:auto;
}