// .orders table{
//     width: 100%;
//     thead{
//         background-color: #000;
//         color:#fff;
//         th{
//             padding:10px;
//         }

//     }
//     tr{
//         text-align: center;
//         td{
//             border-bottom: 1px solid #c0c0c0;
//             border-right: 1px solid #c0c0c0;
//             padding:10px;
//         }
//     }
// }